build/
bouffalo_sdk_ds5/
*.o
*.a
*.elf
*.map
*.bin
*.ota
*.xz.ota
*.tar.gz
*.zip
.DS_Store
*.code-workspace

# DS5Dongle BL618 companion app
companion/node_modules/
companion/dist/
companion/artifacts/
companion/resources/
companion/native/AudioHelper/bin/
companion/native/AudioHelper/obj/
companion/firmware/

